
  .equationBlock {
    font-family: 'Courier New', Courier, monospace; /* Fixed-width font */
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #ccc; /* Light grey border */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Slight shadow for depth */
    padding: 20px;
    margin: 20px; /* Space around the pseudocode block */
    white-space: pre; /* Preserves whitespace and line breaks */
    overflow-x: auto; /* Enables horizontal scrolling if needed */
    position: relative; /* Needed for absolute positioning of line numbers */
  }
  
  .equationBlock p {
    font-family: inherit;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: fit-content;
  }
  
