.pageSubheading {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    height: 25px;
    margin: 5px 0px 5px 0px;

}

.pageSubheading__line {
    height: 15px;
    border-bottom: 1px solid #000; 

}

.pageSubheading__text {
    font-family: var(--font-1);
    font-size: 16px;
    height: 20px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 5px;
    margin-bottom: 5px;

}