
.contentBox__item {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;

    height: 44px;
    width: fill-available;

    padding: 8px 16px 16px 8px;

    border-radius: 24px;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: var(--border-style) 1px var(--border-color);

    justify-content: left;
    align-items: left;

}

.contentBox__item:hover {
    background-color: var(--background-color-hover);
}

.contentBox__item h3 {
    text-transform: capitalize;
  }
  

.contentBox__itemButton {
    height: 64px;
    width: 64px;
    
    /*
    I want to move the button up a few pixels

    "margin-top: -40px;" did not work. What else should I try?

    You could try "position: relative;" and "top: -40px;".

    */

    position: relative;
    top: -10px;

    justify-content: center;

    margin: 0.5rem;

}
