
body {
  background-color: var(--background-color);
}

#home-nav-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
  
  }
  
#home-main {
padding-top: 11vh;

padding-left: 32px;
padding-right: 32px;

}
/*
Desktop Layout >640px width
*/


@media (min-width: 640px) {
  #home-main {
    padding-top: 11vh;

    padding-left: 32px;
    padding-right: 32px;


    display: grid;
    grid-template-columns: 1fr 1.618fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
      "null responsive-2"
      "null responsive-2";
    

    
  .actionArea {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    
    grid-template-areas: 
        "podcast"
        "buy"
        "read"
        "download"
        "content-page";
    
    grid-gap: 5px;
    }
  }

  #responsive-1 {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 11vh; /* Adjust the top value as needed */
    left: 0; /* Positions the sidebar on the right edge */

    width: 36%;
    height: fill-available;
  }

  #responsive-2 {
    grid-area: responsive-2;
  }


}



#action-section {
padding: 16px;
grid-gap: 10px;

display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto auto;
}


#main-concept-image {

/*  Margin to make space for NavBar
*/
background-image: url("../../../assets/images/josh_self_love.jpg");
background-size: cover;
background-position: center;

aspect-ratio: auto 189 / 252;
box-sizing: border-box;
cursor: pointer;
display: block;
height: 260px;
max-width: 100%;

justify-self: center;

border: transparent;
box-shadow: none;
outline: none;

}

