
#home-nav-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
  
  }
  
#home-main {
padding-top: 11vh;

padding-left: 32px;
padding-right: 32px;

}

#action-section {
padding: 16px;

display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1.6fr 1fr;
}


#main-concept-image {

/*  Margin to make space for NavBar
*/
background-image: url("../../../assets/images/jacob.png");
background-size: cover;
background-position: center;

aspect-ratio: auto 189 / 252;
box-sizing: border-box;
cursor: pointer;
display: block;
height: 260px;
max-width: 100%;

justify-self: center;

border: transparent;
box-shadow: none;
outline: none;

}
