.navBar {
    /* hv is a unit of measurement that is equal to 1% of the viewport height. */

    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr;
    
}

.navBarDivider {
    border: 2px solid #000;
}