:root {
  --primary-color: rgb(209, 213, 219); /* rgb(209, 213, 219)*/
  --secondary-color: #2d3748;
  --tertiary-color: #4a5568;

  --primary-complementary-color: #718096;
  --secondary-complementary-color: #e2e8f0;
  --tertiary-complementary-color: #a0aec0;
  
  --accent-color: #e53e3e;
  --accent-color-hover: #c53030;
  --accent-color-pressed: #9b2c2c;
  --accent-color-focus: #c53030;

  --text-color-1: black;
  --text-color-1-anti: white;
  --text-color-1-hover: #fff;

  --text-color-2: #2d3748;
  --text-color-2-anti: #fff;
  --text-color-2-hover: #fff;

  --text-color-3: #4a5568;
  --text-color-3-anti: #fff;
  --text-color-3-hover: #fff;

  --text-color-4: #718096;
  --text-color-4-anti: #fff;
  --text-color-4-hover: #fff;


  --font-size-1: 48px;
  --font-size-2: 32px;
  --font-size-3: 24px;
  --font-size-4: 20px;
  --font-size-5: 16px;
  --font-size-6: 14px;


  --font-weight: 600;

  --font-family: Inter, Arial, sans-serif;
  --font-1: Valkyrie B;
  --font-2: "Suisse Works";
  --font-3: Valkyrie D;

  --background-color: white; 
  --background-color-hover: rgb(209, 213, 219);

  --border-color: rgb(209, 213, 219);
  --border-color-hover: #718096;
  --border-color-pressed: #4a5568;

  --border-style: solid;
  --border-width: 2px;

  --border-radius: 9999px;

}

