::root {
    --navBar-height: 6vh;
}

.navBar {
    /* hv is a unit of measurement that is equal to 1% of the viewport height. */
    height: var(--navBar-height);
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 0.5fr;

    border-bottom: 2px solid var(--border-color);
    
}

.navBar__Icon {

    justify-content: center;
    align-items: center;

    background-image: url("../../../assets/favicon_SMA.png");
    background-size: cover;
    border-bottom: inherit;

    height: auto;

}

.navBar__Title {
    background-color: white;
    border-bottom: inherit;

    justify-content: left;
    align-items: left;


}

.navBar__TitleText {

    text-align: center;
    color: #000;
    text-decoration: none;

}

.navBar__Button {
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
    border-bottom: inherit;
}

#menu {
    background-image: url("../../../assets/icons/list.svg");
    background-size: cover;
}
